/* Whole document: */
body{
  font-family: 'calibri';
  font-size: 11pt;
}
/* Headers */
h1{
  font-size: 24pt;
}
h2{
  font-size: 16pt;
  font-weight: bold;
}
h3{
  font-size: 14pt;
}

h4{
  font-size: 12pt;
}